$font-size-xs: $font-size-base * 0.825;
$line-height-xs: 0.5;
$border-radius-xs: 0.2rem;

$input-btn-padding-y-xs: 0.275rem;
$input-btn-padding-x-xs: 0.275rem;
$input-btn-font-size-xs: $font-size-xs;
$input-btn-line-height-xs: $line-height-xs;
$btn-border-radius-xs: $border-radius-xs;

$btn-padding-y-xs: $input-btn-padding-y-xs;
$btn-padding-x-xs: $input-btn-padding-x-xs;
$btn-font-size-xs: $input-btn-font-size-xs;
$btn-line-height-xs: $input-btn-line-height-xs;
